html{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: hsl(30, 54%, 90%);
}

.container{
    display: flex;
    width: 738px;
    height: auto;
    background-color: hsl(330, 100%, 98%);
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
}

.recipe{
    margin: 30px;
}

.mainPicture{
   width: 100%;
}

.list1{
    border: 1px solid black;
}

.list2{
    border: 1px solid;
}

table{
    border-collapse: collapse;
    width: 66%;
}

td{
    text-align: left;
    width: 66%;
    
}

table tr{
    border-bottom: 1px solid black;
}

table tr:last-child {
    border: 0;
}

table tr:first-child {
    border: 0;
}

